<div id="/login">
  <h2>Login to vote</h2>
  <form action="/login" method="post">
    <input type="text" name="name">
    <input type="password" name="password">
    <input type="submit" name="submit" value="Go!">
  </form>
</div>

<div id="register">
  <h2>Register to vote for Friday Hangouts!</h2>
  <p> use a new simple password for this site </p>
  <form action="/add_a_user" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="password" name="password" placeholder="password">
    <input type="text" name="email" placeholder="email">
    <input type="submit" name="submit" value="Register">
  </form>
</div>
