<h1> Sucess! <h1>
<br>

<h3>  Click to continue </h3>

<form action="/voting_page" method="post">
  <input type="hidden" name="user" value=<%="#{@name}" %>>
  <input type="submit" value="continue">
</form>
