<div id="login_failed">
  <h1>Login Failed</h1>
    <br>
      <p>If you forgot your username or password, email Alex at aeb242@gmail.com</p>
    <br>
      <a href="/login_form">Try Again</a>
  </div>
