
		<h1> Thank you for Voting!! </h1>

      <br>

    <h3> If you see any bugs please report them at github.com/Deadpoets_site! <h3>

      <br>

    <h3> If you'd like to play with adding features to this site, check out the README! </h3>
