
		<h1>We'll see you there... </h1>

      <br>

    <h3> If you see any bugs please post an issue on <a href="http://www.github.com/alexbeeken/Deadpoets_site">github!</a> </h3>

      <br>

    <h4> If you'd like to help or play with adding features to this site
			<br>
			<ul>
				<li> talk to Alex or send an email (aeb242@gmail.com)  </li>
				<li> or just check out the README.md </li>
			</ul>
		</h4>
		<br>
		<a href="/">Go Home</a>
